.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.nextBtn,
.backBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #556713;
  color: #fff;
  transition: background 0.3s ease;
}

.nextBtn:hover,
.backBtn:hover {
  background: #43530d;
}

.backBtn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 200%;
  overflow-x: hidden;
  transition: transform 0.7s ease-in-out; /* Smooth transition */
}

.slider ul li {
  list-style: none;
  width: 50%;
  padding: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth scaling and opacity */
}

.slider ul li.showing {
  transform: scale(1.05); /* Slight scaling for active slide */
  opacity: 1;
}

.slider ul li:not(.showing) {
  opacity: 0.7;
}

.slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
  transition: transform 0.3s ease;
}

.slide img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #556713;
  object-fit: cover;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.userInfo h3 {
  color: #556713;
}

/* Media query for responsiveness */

@media (max-width: 800px) {
  .testimonials {
    padding: 0 40px;
  }

  .nextBtn,
  .backBtn {
    padding: 10px;
    width: 35px;
  }

  .slider ul li {
    padding: 10px;
  }

  .slide {
    padding: 10px;
  }

  .slide img {
    width: 50px;
    height: 50px;
    border: 1px solid #556713;
  }
}

@media (max-width: 600px) {
  .userInfo {
    display: block;
    margin: 10px;
    font-size: 15px;
  }

  .userInfo h3 {
    font-size: 16px;
  }

  .slider p {
    font-size: 12px;
    margin: 10px;
  }
}
