.choiceGallery {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery img {
  width: 23%;
  border-radius: 10px;
}

/* media query */

@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
  }

  .gallery img {
    width: 48%;
    margin-bottom: 25px;
  }
}


.choiceGallery .gallery img {
  cursor: pointer;
  transition: transform 0.2s;
}

.choiceGallery .gallery img:hover {
  transform: scale(1.05);
}

/* Fullscreen Overlay */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Fullscreen Image */
.fullscreen-img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}
